@import "_mtmVariable";
.mavitmSlider{
  position: relative;
  overflow: hidden;
  width: 100%;
  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    width: inherit;
    height: inherit;
    overflow: hidden;
    z-index: 1;
  }
  > ul > li {
    width: inherit;
    height: inherit;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
    &.active{
      z-index: 60;
    }
  }

  /** ANIMATION STANDART LAYER **/
  .zoomDiv, .mosBox{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 888;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .zoomDiv{
    background-color: $animateDivBackColor;
  }
  /*****************************/

  /** ALL ELEMENT SLIDE HOVER **/
  .mtmSlideHover {
    cursor: pointer;
    display: none;
  }
  /*****************************/

  /** CONTROL **/
  .mtmControls {
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 998;

    .mtmControl {
      position: relative;
      width: 120px;
      height: 120px;
      display: block;
    }

    .mtmPrevious {
      float: left;
      margin-left: 15px;
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 30%;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 20px 25px 0;
        border-color: transparent $nextPreviousColor transparent transparent;
      }
    }

    .mtmNext {
      float: right;
      margin-right: 15px;
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 30%;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 0 25px 20px;
        border-color: transparent transparent transparent $nextPreviousColor;
        z-index: 999;
      }
    }

  }
  /*****************************/

  /** PAGINATION **/
  .mtmPager {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 0;
    bottom: 25px;
    width: 100%;
    height: 25px;
    z-index: 889;

    li {
      position: relative;
      display: inline-block;
      margin-right: 5px;
      overflow: hidden;
      width: 25px;
      height: 25px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #FFFFFF;
      padding: 1px;
      background-color: $mtmPagerliColor;

      a {
        display: block;
        background-color: $mtmPagerliAColor;
        height: inherit;
        text-indent: 50px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        cursor: pointer;

        &:hover, &:focus, &:active{
          background-color: $mtmPagerliColor;
        }
      }
    }
  }
  /*****************************/

  /** CAPTION REQUIRED**/
  .captionArea{
    .caption{
      display: none;
      @include borderBox();
    }
  }
  /*****************************/

  /** LOADER **/
  .mtmLoader{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: $mtmLoaderBackColor;
    &:after {
      content: " ";
      display: block;
      width: 40px;
      height: 40px;
      background-color: $mtmLoaderIconColor;
      margin: 100px auto;
      -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
      animation: sk-rotateplane 1.2s infinite ease-in-out;
      position: relative;
      z-index: 999;
    }
  }

  /** LOADER ANIMATION **/
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }

  @keyframes sk-rotateplane {
    0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
          transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
          -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
  }

  /*****************************/
}