@import "_mtmVariable";

@each $pdPx in $boxPaddingArr {
  .mtmPadding#{$pdPx}{
    padding: #{$pdPx}px;
  }
}
/*****************************/

/** BOX **/
.mtmCbox1{
  background-color: $captionBackColor1;
  color: $captionFontColor1;
}
.mtmCbox2{
  background-color: $captionBackColor2;
  color: $captionFontColor2;
}
.mtmCbox3{
  background-color: $captionBackColor3;
  color: $captionFontColor3;
}

.mtmBox1{
  background-color: $captionBackColor1;
}
.mtmBox2{
  background-color: $captionBackColor2;
}
.mtmBox3{
  background-color: $captionBackColor3;
}

.mtmCircleBox{
  @include borderRadius(50%);
  overflow: hidden;
}

.fullImg{
  img{
    width: 100%;
  }
}
/*****************************/
/** FONT **/
.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

/** FONT COLOR **/
.mtmColor1{
  color: $captionFontColor1;
}
.mtmColor2{
  color: $captionFontColor2;
}
.mtmColor3{
  color: $captionFontColor3;
}

/** FONT SIZE **/
@for $i from 1 through 12 {
  .mtmFontSize#{$i}{
    font-size: #{$i}vw;
  }
}
/*****************************/

/** GRID **/
@for $i from 1 through 100 {
  .mtmCol#{$i}{
    width: #{$i}vw;
  }
}
/*****************************/